*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
body{
    font-family: sans-serif;
}
/* .main{
    width: 100%;
    height: 100%;
    background-color: rgb(108, 104, 104);
    position: relative;
} */
.nav{
    height: 110px;
    padding: 0 80px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(104, 104, 104);

}
.nav img{
    height: 40px;
    margin-right: 200px;
    background-color: rgb(104, 104, 104);
    border-radius: 50px;
}
.nav img:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color: rgb(237, 237, 237);
}


.nav-prt1{
 display: flex;
 align-items: center;
 justify-content: center;
}
.nav-prt1 h4:hover{
font-size: 150%;
color: rgb(255, 255, 255);
}
.nav-prt1 h4{
margin-right: 70px ;
font-size: 24px;
text-transform: uppercase;
font-weight: 600;
}
.nav-prt2 i{
    margin-right: 70px ;
    font-size: 23px;
    font-weight: 500;
    }

.nav-prt2 i:hover{
    color: rgb(237, 237, 237);
}
.part3{
    width: 100%;
    height: 100%;
    background-color: rgb(125, 123, 123);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15%;
    /* overflow-x: auto; */
    /* object-fit: cover; */
}
.box1{
    width: 350px;
    height: 400px;
    background: rgba(255, 255, 255, 0.991);
    position: relative;
    animation: mymove infinite;
    animation-duration: 3s;
    margin-left: 15px;

}
@keyframes mymove {
    from {top: 200px;}
  to {top: 30px;}
}
.box1 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    overflow: auto;
    /* background-color: #fff; */
}
  
.box2{
    width: 350px;
    height: 400px;
    background: rgb(255, 255, 255);
    position: relative;
    animation: mybox2 infinite;
    animation-duration: 3s;
    margin-left: 15px;

}
@keyframes mybox2{
    from {top: 30px;}
  to {top: 200px;}
}
.box2 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    overflow: auto;
}

.box3{
    width: 350px;
    height: 400px;
    background: rgb(246, 246, 247);
    position: relative;
    animation: mybox3 infinite;
    animation-duration: 3s;
    margin-left: 15px;

}
@keyframes mybox3 {
    from {top: 200px;}
  to {top: 30px;}
}
.box3 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    overflow: auto;
}

.box4{
    width: 350px;
    height: 400px;
    background: rgb(255, 255, 255);
    position: relative;
    animation: mybox4 infinite;
    animation-duration: 3s;
    margin-left: 15px;

}
@keyframes mybox4 {
    from {top: 30px;}
  to {top: 200px;}
}
.box4 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    overflow: auto;
}
.part4{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 108, 108);
    display: flex;
    align-items: center;
    justify-content: center;
}
.part4 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.part5{
   width: 100%; 
  height: calc(100% - 110px);
  /* background-color: rgb(68, 18, 36); */
  position: relative;
  display: flex;
}
.left{
        width: 35%;
        height: 100vh;
        background-color: rgb(139, 136, 136);
      padding: 120px 150px;

 }
 .left h5{
    font-size: 19px;
    margin-bottom: 15px;
    color: rgb(188, 187, 187);
 }
 .left h1{
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    text-transform: uppercase;
 }
 .left p{
    font-size: 12px;
    width: 90%;
    /* background-color: red; */
    margin-bottom: 25px;
 }
 .left button{
    background-color: black;
    color: wheat;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 45px;
    text-transform: uppercase;
    border-top-left-radius: 0px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
 }
 .left button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
 }
 .right{
        width: 65%;
        height: 100vh;
        background-color: rgb(138, 136, 136);
     position: relative;
     padding: 100px;
     white-space: nowrap;
    overflow-x: auto;
}
.elem{
    width: 360px;
    height: 500px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
      display: inline-block;
      margin-right: 30px;
}
.elem img{
    height: 100%;
    object-fit: cover;
    height: 70%;
    top: 7%;
 position: absolute;
}
.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: gray;
    padding: 12px 30px;
    border-radius: 6px;
}
.elem h5{
    position: absolute;
    bottom: 8.7%;
    right: 0;
    background-color: black;
    color: #fff;
    font-weight: 500;
    padding: 17px 34px;
    font-size: 12px;
    border-radius: 6px;

}
.part6{
    width: 100%;
    height: 100%;
    background-color: rgb(104, 103, 103);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left6{
 width: 50%;
 height: 80%;
 /* background-color: green; */
 margin-left: 90px;
}
.left6 img{
    width: 90%;
    height: 100%;
    object-fit: contain;
}
.right6{
    width: 50%;
    height: 100%;
    /* padding-right: 10px; */
   /* background-color: yellow; */
}
.right6 img{
    width: 90%;
    height: 100vh;
    object-fit: contain;
}
.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #6f7070;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 49px;
      left: 3px;
      top: 11px;
      width: 49px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 58px;
      left: 60px;
      top: 3px;
      width: 58px;
  }
  
  .footer-social-link.youtube {
      height: 59px;
      left: 115px;
      top: 11px;
      width: 59px;
  }
  
  .footer-social-link.github {
      height: 69px;
      left: 165px;
      top: 7px;
      width: 69px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
 
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  